<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>x</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<servlet-class>com.lanhun.utils.ProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyHost</param-name>
			<param-value>192.168.0.38</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPort</param-name>
			<param-value>8082</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPath</param-name>
			<param-value>/weixun</param-value>
		</init-param>
		<init-param>
			<param-name>maxFileUploadSize</param-name>
			<param-value>200000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>*.iv</url-pattern>
	</servlet-mapping>
</web-app>